<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link href="/static/styles/home.css" rel="stylesheet" type="text/css">


<script>
function myFunction1() {
    var a = parseInt(document.getElementById("Milanesa").value);
    var b = parseInt(document.getElementById("Tartin").value);
    var c = parseInt(document.getElementById("Medialuna").value);
    var d = parseInt(document.getElementById("Coca-Cola 600ml").value);
    var e = parseInt(document.getElementById("Lays").value);
    var total = +(a + b + c + d + e);
    document.getElementById("cant").innerHTML = total;

    var precioa = 30;
    var preciob = 20;
    var precioc = 40;
    var preciod = 25;
    var precioe = 15;
    var total2 = +(a * 30 + b * 20 + c * 40 + d * 25 + e * 15);
    document.getElementById("cant2").innerHTML = total2;

}

</script>


</head>

<head bgcolor="#1C1C1C">
</head>

<body>
<title>Buffet</title>

<img class="titulo" src="static/images/logo.png"></img>

<h1  class="h1"><b>Productos</b></h1>

<div class="totalp">
    <b>
        <h4>
            Total productos:
        </h4>
    </b>
<p id="cant"></p>
</div>

<div class="totalpagar">
    <b>
        <h4>
            Total a pagar:
        </h4>
    </b>
<p id="cant2"></p>
</div>

<div class="formulario">
{% block content %}
        <h1>Nuevo Pedido</h1>
        <form method="POST" class="pedido-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Guardar</button>
        </form>
    {% endblock %}
</div>

<div class="btn-group">
<select type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
  <option value="11:30">11:30</option>
  <option value="12:00">12:00</option>
  <option value="12:30">12:30</option>
  <option value="13:00">13:00</option>
</select>
</div>



<h5 class="aclaracion1">Elija el horario en el que su pedido sera entregado</h5>


<div class="btn-group2">
<select type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
  <option value="A">A</option>
  <option value="B">B</option>
  <option value="C">C</option>
  <option value="D">D</option>
</select>
</div>

<!--
<div class="checkboxpiso">

<form action="">
<input type="checkbox" name="piso" value="Planta baja">Planta baja<br>
<input type="checkbox" name="piso" value="Planta alta">Planta alta
</form>
</div>
-->

<div class="radiuspiso">
<form method="get" action="http://aprenderaprogramar.com/action.php">
Seleccione el piso del aula:
<br>
<input name="intereses" type="radio" value="primerpiso" />Primer piso
<br>
<input name="intereses" type="radio" value="segundopiso" />Segundo piso
</form>
</div>

</div>

<h5 class="aclaracion2">Seleccione en el aula en la que se encuentra</h5>

<!--
<form action="demo_form.asp" >
  Nombre y apellido: <input href="#" type="text" name="usrname"><br>
</form>
-->

<form action="action_page.php" class="nombreapellido">
  Nombre:<br>
  <input type="text" name="nombre" value="">
  <br>
  Apellido:<br>
  <input type="text" name="apellido" value="">
  <br><br>
  <input type="submit" value="Aceptar">
</form>

<div class="enviar"><a href="#" class="btn btn-lg btn-success">Enviar pedido <span class="glyphicon glyphicon-thumbs-up"></span></a></div>




</body>
</html>
